.books-telecomunicaciones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
}


.book-tele {
    display: block;
    text-align: center;
    width: 200px;
    padding: 5px;
    text-decoration: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    color: inherit; 
}

.book-tele img {
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.book-tele h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.book-tele p {
    font-size: 14px;
    color: grey;
}

.book-tele:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
}
